@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

table {
    font-family: Montserrat;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #0c0c0c;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #ebc5c5;
  }
  th {
    background-color: rgba(122, 96, 132, 0.822);
  }